.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-color: lightslategray;
  border-width: 10px;
  border-style: ridge;
  margin-bottom: 10px;
  align-items: right;
}

.flex-item {
  background: rgb(44, 168, 168);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 0.8em;
  list-style-type: none;
  border-bottom: 20px;
  border-style: ridge;
  border-color: lightslategray;
  border-width: 10px;
}
